{% paginate blog.articles by 5 %}
<div class="main-wrapper centered xy-padding blog grid-2-3">
    {% for article in blog.articles %}
    <section>
        <article>
            <h2>
                <a href="{{ article.url }}">{{ article.title }}</a>
            </h2>
            <a href="{{ article.url }}"
                ><img
                    src="{{ article.image.src | img_url: 'medium' }}"
                    alt="{{ article.image.alt }}"
            /></a>
            <aside>
                <strong>{{ article.author }}</strong> @
                {{ article.created_at | date: format:"short" }}
            </aside>
        </article>
        <article class="excerpt">
            {% if article.excerpt.size > 0 %}
            <p>{{ article.excerpt }}</p>
            {% else %}
            <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
            {% endif %}
        </article>
    </section>
    {% endfor %}
</div>

<div class="full-width">
    <nav
        class="main-wrapper centered has-text-centered is-small paginated xy-padding"
        role="navigation"
        aria-label="navigation"
    >
        {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
        {% endif %} {% endpaginate %}
    </nav>
</div>
